@model MadOnMVCBatch.Models.EmployeeModel

@{
    ViewBag.Title = "GetData";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>GetData</h2>

<div>
    <h4>EmployeeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpSalary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section section1
{
   <h1>between big people small people will be crushed</h1>
    
    } 


@section Promotion
{
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

} 